<!-- BEGIN_INCLUDE(clarizen:login) -->
    <clarizen:login connectionUser="user"
                   connectionPassword="pass"
                   applicationId="applicationId"
                   partnerId="partnerId" />
<!-- END_INCLUDE(clarizen:login) -->

<!-- BEGIN_INCLUDE(clarizen:logout) -->
    <clarizen:logout />
<!-- END_INCLUDE(clarizen:logout) -->

<!-- BEGIN_INCLUDE(clarizen:get-work-item-by-id) -->
<clarizen:get-work-item-by-id workItemId="c69b-46eb" workItemType="PROJECT">
    <clarizen:fields-to-retrieve>
        <clarizen:fields-to-retrieve>Name</clarizen:fields-to-retrieve>
    </clarizen:fields-to-retrieve>
</clarizen:get-work-item-by-id>
<!-- END_INCLUDE(clarizen:get-work-item-by-id) -->

<!-- BEGIN_INCLUDE(clarizen:get-my-work-items) -->
<clarizen:get-my-work-items workItemFilter="ALL" workItemState="ALL" workItemType="TASK" pageSize="1000">
    <clarizen:fields-to-retrieve>
        <clarizen:fields-to-retrieve>Name</clarizen:fields-to-retrieve>
    </clarizen:fields-to-retrieve>
</clarizen:get-my-work-items>
<!-- END_INCLUDE(clarizen:get-my-work-items) -->

<!-- BEGIN_INCLUDE(clarizen:create-entity) -->
<clarizen:create-entity />
<!-- END_INCLUDE(clarizen:create-entity) -->

<!-- BEGIN_INCLUDE(clarizen:update-entity) -->
<clarizen:update-entity />
<!-- END_INCLUDE(clarizen:update-entity) -->

<!-- BEGIN_INCLUDE(clarizen:entity-query) -->
<clarizen:entity-query queryTypeName="User" condition-ref="#[payload]" pageSize="1000">
    <clarizen:fields-to-retrieve>
        <clarizen:fields-to-retrieve>DisplayName</clarizen:fields-to-retrieve>
    </clarizen:fields-to-retrieve>
</clarizen:entity-query>
<!-- END_INCLUDE(clarizen:entity-query) -->

<!-- BEGIN_INCLUDE(clarizen:issue-query) -->
<clarizen:issue-query issueType="ISSUE" condition-ref="#[payload]" pageSize="1000">
    <clarizen:fields-to-retrieve>
        <clarizen:fields-to-retrieve>Title</clarizen:fields-to-retrieve>
    </clarizen:fields-to-retrieve>
</clarizen:issue-query>
<!-- END_INCLUDE(clarizen:issue-query) -->

<!-- BEGIN_INCLUDE(clarizen:work-items-query) -->
<clarizen:work-items-query workItemFilter="ALL" workItemState="ALL" workItemType="ALL" pageSize="1000">
    <clarizen:fields-to-retrieve>
        <clarizen:fields-to-retrieve>Description</clarizen:fields-to-retrieve>
    </clarizen:fields-to-retrieve>
</clarizen:work-items-query>
<!-- END_INCLUDE(clarizen:work-items-query) -->

<!-- BEGIN_INCLUDE(clarizen:describe-entity) -->
<clarizen:describe-entity typeName="TASK" />
<!-- END_INCLUDE(clarizen:describe-entity) -->

<!-- BEGIN_INCLUDE(clarizen:list-entities) -->
<clarizen:list-entities />
<!-- END_INCLUDE(clarizen:list-entities) -->