<?xml version="1.0" encoding="UTF-8" standalone="no"?><plugin><extension point="org.mule.tooling.core.contribution"><externalContribution contributionJar="mule-module-clarizen-2.0.10-SNAPSHOT.jar" contributionJavaDocs="mule-module-clarizen-2.0.10-SNAPSHOT-javadoc.jar" contributionLibPathInMule="/plugins" contributionLibs="mule-module-clarizen-2.0.10-SNAPSHOT.zip" contributionNamespace="http://www.mulesoft.org/schema/mule/clarizen" contributionNamespaceFile="http://www.mulesoft.org/schema/mule/clarizen/1.0/mule-clarizen.xsd" contributionNamespacePrefix="clarizen" contributionSources="mule-module-clarizen-2.0.10-SNAPSHOT-src.jar" contributionType="cloud-connector" contributionVersion="2.0.10-SNAPSHOT" minimumVersion="3.2" name="Clarizen" path="editors.xml" version="1.0"/></extension></plugin>